@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  --bg-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
}
.container {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;

  .inner {
    .personal-info {
      text-align: center;

      > h2 {
        font-size: 1.75rem;
        font-weight: 600;
      }

      .inner-info {
        display: flex;
        justify-content: space-around;

        > a {
          text-decoration: none;
          transition: all 0.3s;

          &:hover {
            color: #999999;
          }
        }
      }
    }
    .image-container {
      width: 100%;
      aspect-ratio: 2/1;

      > img {
        width: 100%;
        object-fit: contain;
      }
    }
    .time {
      display: flex;
      width: 100%;
      justify-content: space-around;

      .day {
        text-transform: capitalize;
      }
    }
  }
}
